@CHARSET "UTF-8";


.twtr-hd h3, .twtr-hd h4 {
    color: #ffffff;
}

.twtr-hd h3 {
    border: 0px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 326px;
    margin-bottom: 20px;
}

.award {
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 144px;
}

#novaContent.faux  {
    background: url("/virgo/images/faux.png") repeat-y scroll 0 0 #FFFFFF;
}

a {
    color: #002E62;
}

a:hover {
    color: #0093CF;
    text-decoration: none;
}

#incubation {
    margin-left: auto;
    margin-right: auto;
    width: 98px;
}

#search #searchBox {
    width:220px;
}

#novaContent li {
    list-style-image: url("/virgo/images/bullet.png");
}

.toggle {
    cursor: pointer;
    color: #002E62;
}

.toggle:hover {
    color: #0093CF;
}